
#background-container {
  position: relative;
  height: 60%;
  width: 100%;
}
#background-image {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 120%;
  transform: translate(10%, 10%);
  z-index: 0;
}
@keyframes opponent-animation {
  0%{transform: translate(50%, -70%)}
  50%{transform: translate(50%, -68%)}
  100%{transform: translate(50%, -70%)}
}

#opponent {
  opacity: 1;
  cursor: pointer;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translate(50%, -70%);
  height: 60%;
  cursor: url("/src/Pictures/sword-cursor-function.png"), auto;
  animation-name: opponent-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: transform 0.1s ease-in-out;
}

@keyframes opponent-animation-attack {
  0%{transform: translate(50%, -70%)}
  50%{transform: translate(40%, -60%)}
  100%{transform: translate(50%, -70%)}
}

#opponent:active{
  animation-name: opponent-animation-attack;
  animation-duration: 0.5s;
  /* transform: translate(-70%, -50%); */
  transition: transform 0.1s ease-in-out;
  animation-iteration-count: 1;
  cursor: url("/src/Pictures/sword-cursor-attack.png"), auto;
}

#healt-field p {
  margin: 0px;
  padding: 0px;
  font-size: 2em;
}
#healt-field {
  background-color: rgba(0, 0, 0, 0.277);
  border: 1.5px solid black;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 5%;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-size: 2vh;
}

#healt-belt {
  width: 50%;
}

@media only screen and (max-width: 600px){
  #background-image {
    top: 10vh;
    height: 100%;
  }
  #opponent {
    top: 55%;
    transform: translate(-60%, -70%);
    height: 50%;
  }
  
}