
#background-container {
  position: relative;
  height: 100%;
  width: 20vw;
  display: flex;
  justify-content: center;
  align-items: end;
}
#background-image {
  /* top: 0vh;
  right: 0vw;
  height: 100%;
  transform: translate(-10%, 30%); */
  position: absolute;
  top: 30vh;
  z-index: 0;
  height: 100%;
  width: 100%;
}
#background-container img:first-child{
  height: 80%;
  width: 400%;
  object-fit: contain;
}

@keyframes opponent-animation {
  0%{transform: translate(0%, 0%)}
  50%{transform: translate(0%, -5%)}
  100%{transform: translate(0%, 0%)}
}

#opponent {
  opacity: 1;
  cursor: pointer;
  position: absolute;
  top: 28vh;
  right: 2vw;
  cursor: url("/src/Pictures/sword-cursor-function.png"), auto;
  animation-name: opponent-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transition: transform 0.1s ease-in-out;
}
#background-container img:last-child{
  height: 40%;
}

@keyframes opponent-animation-attack {
  0%{transform: translate(0%, 0%)}
  50%{transform: translate(-5%, 5%)}
  100%{transform: translate(0%, 0%)}
}

#opponent:active{
  animation-name: opponent-animation-attack;
  animation-duration: 0.5s;
  /* transform: translate(-70%, -50%); */
  transition: transform 0.1s ease-in-out;
  animation-iteration-count: 1;
  cursor: url("/src/Pictures/sword-cursor-attack.png"), auto;
}

#healt-field p {
  margin: 0px;
  padding: 0px;
  font-size: 2em;
}
#healt-field {
  background-color: rgba(0, 0, 0, 0.277);
  border: 1.5px solid black;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 5%;
  display: flex;
  width: 60%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  font-size: 2vh;
}

#healt-belt {
  width: 50%;
}

@media only screen and (max-width: 900px){
  #background-container {
    z-index: 0;
  }
  #background-container img:first-child{
    height: 80%;
    width: 500%;
    object-fit: contain;
  }
  #opponent {
    top: 32vh;
    right: -18vw;
    animation-name: opponent-animation;
  }
  #background-container img:last-child{
    height: 35%;
  }

  
}