#mainGame {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    flex-direction: column;
    
}

@media only screen and (max-width: 900px){
    #mainGame {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        flex-direction: column;
        
    }
}   

