@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

#game{
  height: 100%;
  width: 100%;
  /* background-color: rgb(37, 150, 190); */
  background: linear-gradient(rgb(189, 228, 243), rgb(37, 150, 190));
  background-image: url("./Pictures/background-sky.jpg");
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: top;
  font-family: "Open Sans",sans-serif;
   /* background-image: url(./Pictures/background.jpg);  */
  background-size: cover;
  background-position: 0px;
  cursor: url("./Pictures/sword-cursor.png"), auto;
}

@media only screen and (max-width: 600px){
  #game{
    height: 100vh;
    overflow: hidden;
  }
}